# Files of IDE
/.idea
ElderPi.iml

# ElderPi-server
/ElderPi-server/certificate/server.cert
/ElderPi-server/certificate/server.key
/ElderPi-server/node_modules

# ElderPi-client
/ElderPi-client/node_modules
